annotated-types
appwrite
beautifulsoup4
blinker
certifi
chardet
charset-normalizer
click
colorama
deep-translator
Deprecated
Flask
flask-cors
Flask-Limiter
googletrans==4.0.0rc1
gTTS
gunicorn
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
idna
itsdangerous
Jinja2
joblib
langdetect
legacy-cgi
limits
MarkupSafe
nltk
numpy
ordered-set
packaging
pydantic
pydantic_core
python-dotenv
regex
requests
rfc3986
scikit-learn
scipy
six
sniffio
soupsieve
threadpoolctl
tqdm
typing-inspection
typing_extensions
urllib3
Werkzeug
Wikipedia-API
wrapt
